# 🗂️ Archivos del sistema y configuración local
node_modules/
storage.json
logs.json
.env
*.log
*.bak

# 📦 Dependencias de paquetes
package-lock.json

# 🧪 Playwright y testing
playwright-report/
test-results/
*.zip
*.trace
*.png
*.webm

# 💻 Configuración del entorno
.vscode/
.idea/
*.code-workspace

# ⚙️ Archivos temporales / del sistema operativo
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo
*.orig

# 📦 Builds opcionales / docker
dist/
build/
docker-volume/